* {
  padding: 0px;
  margin: 0px;
}

/* main header backgorund box */

header {
  padding: 2px;
  width: 1447px;
  background: linear-gradient(to left, #0f385f, black)
}

/* Custom font/heading name */

p {
  margin: 33px;
}

header h1 {
  color: #0f385f;
  text-align: right;
  font-size: 30px;
  font-weight: 100;
  letter-spacing: 1.55px;
  line-height: 10px;
}

@media screen and (max-width:768px) {
  section h2 {
    width: 100%;
    border-right: unset;
    border-bottom: 5px solid blue;
    text-align: center;
  }
}

.container {
  display: flex;
  flex-wrap: wrap;
}

.h2 {
  padding: 4rem;
  text-align: right;
  border-right: 5px solid #0f385f;
  width: 2px;
  color: #0f385f;
}

.project {
  padding: 1rem;
  width: 75%;
  display: flex;
  flex-wrap: wrap;
}

.proj {
  flex: 1 0 100%;
  height: 317px;
}

.proj1 {
  padding: 10px;
  min-width: 200px;
  flex: 1 0 34%;
}

.title {
  border-right: 1px #0f385f;
  margin-left: -681px;
  margin-top: -32px;
  /* display: flex; */
  justify-content: center;
  align-items: center;
  /* padding-left: 10rem; */
  width: 0%;
}

/* header name background container/rectangle box */

.dcolor {
  height: 12px;
  width: 280px;
  position: relative;
  background-color: rgb(20, 121, 112);
  padding: 21px;
  margin-top: 9px;
  margin-bottom: -37px;
}

/* My name/text in title */

#secLink {
  display: flex;
  color: black;
  list-style: none;
  justify-content: flex-end;
  gap: 1em;
  margin: 5px;
}

/* Nav list */

#secLink a {
  color: rgb(45, 143, 135);
}

#secLink li:hover {
  background-color: yellow
}

/* top image container of laptopn and desk*/

.section1 {
  /* display: flex; */
  /* background-color: #d8a47f; */
  height: 154px;
  /* max-width: 1300px; */
  width: 1290px;
  flex-wrap: wrap;
  justify-content: center;
}

.hoverme li {
  padding: 10px;
  margin-left: 23px;
}

.section1 img {
  /* background-size: cover; */
  width: 1489px;
  height: 185px;
  object-fit: cover;
  /* background-position: center; */
  margin-left: -60px;
  margin-top: -20px;
  border-color: #0f385f;
  border-style: solid;
  /* object-position: bottom; */
}

.section2 {
  flex-wrap: wrap;
  justify-content: center;
}

.section2 img {
  position: fixed;
  z-index: 1;
  margin-left: 1260px;
  margin-top: -120px;
  height: 154px;
  bottom: 0;
}

.header-text h1 {
  color: white;
  position: relative;
  text-align: left;
  background: #13293d;
  display: inline;
}

.container {
  padding: 1rem;
  width: 75%;
  display: flex;
  flex-wrap: wrap;
}

main {
  display: flex;
}

section {
  flex: 70%;
  background-color: #fff;
  padding: 20px;
}

footer {
  padding: 20px;
  width: 1401px;
  text-align: center;
  background: #13293d;
  color: #fff;
}

footer li {
  list-style: none;
}